# Criado por https://www.toptal.com/developers/gitignore/api/visualstudio,csharp
# Edite em https://www.toptal.com/developers/gitignore?templates=visualstudio,csharp

### Dó sustenido ###
## Ignore arquivos temporários do Visual Studio, resultados de compilação e
## arquivos gerados por complementos populares do Visual Studio.
##
## Obtenha as últimas novidades em https://github.com/github/gitignore/blob/main/VisualStudio.gitignore

# Arquivos específicos do usuário
*.rsusuário
*.suo
*.usuário
*.userosscache
*.sln.docstates

# Arquivos específicos do usuário (MonoDevelop/Xamarin Studio)
*.preferências do usuário

# Arquivos Mono gerados automaticamente
mono_crash.*

# Resultados da construção
[Dd]ebug/
[Dd]ebugPúblico/
[Rr]liberar/
[Rr]lançamentos/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
prédio/
[Bb]em/
[Oo]bj/
[L]ogo/
[Ll]ogos/

# Diretório cache/options do Visual Studio 2015/2017
.vs/
# Descomente se você tiver tarefas que criam os arquivos estáticos do projeto em wwwroot
#wwwroot/

# Arquivos gerados automaticamente pelo Visual Studio 2017
Arquivos\gerados/

# Resultados do teste MSTest
[Tt]est[Rr]resultado*/
[Bb]construir[Ll]og.*

# Unidade Numérica
*.EstadoVisual.xml
Resultado do teste.xml
unidade-*.xml

# Construir resultados de um projeto ATL
[Dd]ebugPS/
[Rr]liberaçãoPS/
dlldata.c

# Resultados de referência
BenchmarkDotNet.Artefatos/

# .NET Núcleo
projeto.lock.json
projeto.fragmento.lock.json
artefatos/

# Andaime ASP.NET
AndaimeReadMe.txt

# EstiloPolicial
StyleCopReport.xml

# Arquivos criados pelo Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.registro
*.tlog
*.vspscc
*.vssscc
.constrói
*.pidb
*.svclog
*.scc

# Arquivos de teste Chutzpah
_Audácia*

# Arquivos de cache do Visual C++
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.arquivo de cache
*.VC.db
*.VC.VC.opendb

# Criador de perfil do Visual Studio
*.psess
*.vsp
*.vspx
*.seiva

# Arquivos de rastreamento do Visual Studio
*.e2e

# Espaço de trabalho local do TFS 2012
$tf/

# Kit de ferramentas de automação de orientação
*.gpEstado

# ReSharper é um complemento de codificação .NET
_ReSharper*/
*.[Rr]e[Ss]harpista
*.DotSettings.usuário

# TeamCity é um complemento de construção
_EquipeCidade*

# DotCover é uma ferramenta de cobertura de código
*.dotCapa

# AxoCover é uma ferramenta de cobertura de código
.axoCover/*
!.axoCover/configurações.json

# Coverlet é uma ferramenta de cobertura de código multiplataforma gratuita
cobertura*.json
cobertura*.xml
cobertura*.info

# Resultados da cobertura de código do Visual Studio
*.cobertura
*.coberturaxml

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

#Alce Poderoso
*.mm.*
AutoTest.Net/

# Bancada de trabalho da Web (sass)
.sass-cache/

# Pasta de saída do Installshield
[Ee]expresso/

# DocProject é um complemento gerador de documentação
DocProject/buildhelp/
DocProject/Ajuda/*.HxT
DocProject/Ajuda/*.HxC
DocProject/Ajuda/*.hhc
DocProject/Ajuda/*.hhk
DocProject/Ajuda/*.hhp
DocProject/Ajuda/Html2
DocProject/Ajuda/html

# Diretório Click-Once
publicar/

# Publicar saída da Web
*.[Pp]publicar.xml
*.azurePubxml
# Nota: Comente a próxima linha se quiser verificar suas configurações de implantação na web,
# mas as strings de conexão do banco de dados (com senhas potenciais) não serão criptografadas
*.pubxml
*.publicarproj

# Configurações de publicação do Microsoft Azure Web App. Comente a próxima linha se quiser
# verificar as configurações de publicação do seu aplicativo Web do Azure, mas informações confidenciais contidas
# nesses scripts não serão criptografados
PublicarScripts/

# Pacotes NuGet
*.nupkg
# Pacotes de símbolos NuGet
*.snupkg
# A pasta de pacotes pode ser ignorada devido ao Package Restore
**/[Pp]embalagens/*
# exceto build/, que é usado como um alvo do MSBuild.
!**/[Pp]ackages/construir/
# Descomente se necessário, mas geralmente ele será regenerado quando necessário
#!**/[Pp]ackages/repositórios.config
# Os arquivos project.json do NuGet v3 produzem mais arquivos ignoráveis
*.nuget.props
*.nuget.alvos

# Saída de compilação do Microsoft Azure
csx/
*.construir.csdef

# Emulador Microsoft Azure
ecf/
rcf/

# Diretórios e arquivos de pacotes de aplicativos da Windows Store
Pacotes de aplicativos/
BundleArtefatos/
Pacote.StoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle
*.upload de aplicativo

# Arquivos de cache do Visual Studio
# arquivos terminados em .cache podem ser ignorados
*.[Cc]dor
# mas mantenha o controle dos diretórios que terminam em .cache
!?*.[Cc]dor/

# Outros
Caixa de Cliente/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publicarconfigurações
orleans.codegen.cs

# Incluir arquivos de nomes fortes pode representar um risco de segurança
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
#*.snk

# Como há vários fluxos de trabalho, descomente a próxima linha para ignorar bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#componentes_bower/

# Projetos RIA/Silverlight
Código_gerado/

# Fazer backup e relatar arquivos da conversão de um arquivo de projeto antigo
# para uma versão mais recente do Visual Studio. Arquivos de backup não são necessários,
# porque temos o git ;-)
_Arquivos_de_relatório_de_atualização/
Backup*/
UpgradeLog*.XML
Log de atualização*.htm
Backup do Fabric de Serviço/
*.rptproj.bak

# Arquivos do SQL Server
*.mdf
*.ldf
*.ndf

# Projetos de Business Intelligence
*.rdl.dados
*.bim.layout
*.bim_*.configurações
*.rptproj.rsuser
*- [Bb]ackup.rdl
*- [Bb]acumulação ([0-9]).rdl
*- [Bb]acumulação ([0-9][0-9]).rdl

# Microsoft Falsificações
FakesAssemblies/

# Arquivo de configuração do plugin GhostDoc
*.GhostDoc.xml

# Ferramentas Node.js para Visual Studio
.ntvs_análise.dat
módulos_nó/

# Log de compilação do Visual Studio 6
*.plg

# Arquivo de opções do espaço de trabalho do Visual Studio 6
*.optar

# Arquivo de espaço de trabalho gerado automaticamente pelo Visual Studio 6 (contém quais arquivos foram abertos, etc.)
*.vbw

# Arquivo de projeto gerado automaticamente pelo Visual Studio 6 (contém quais arquivos foram abertos, etc.)
*.vbp

# Espaço de trabalho do Visual Studio 6 e arquivo de projeto (arquivos de projeto de trabalho contendo arquivos para incluir no projeto)
*.dsw
*.dsp

# Arquivos técnicos do Visual Studio 6

# Saída de compilação do Visual Studio LightSwitch
**/*.HTMLClient/ArtefatosGerados
**/*.DesktopClient/ArtefatosGerados
**/*.DesktopClient/ModelManifest.xml
**/*.Servidor/ArtefatosGerados
**/*.Servidor/ModelManifest.xml
_Extensões_Pvt

# Gerenciador de dependências de pacotes
.pacote/pacote.exe
arquivos-pacote/

# FALSO - F# Fazer
.falso/

# Configurações pessoais do CodeRush
.cr/pessoal

# Ferramentas Python para Visual Studio (PTVS)
__pycache__/
*.pyc

# Bolo - Descomente se você estiver usando
# ferramentas/**
# !tools/pacotes.config

# Estúdio de abas
*.tss

# Arquivo de configuração JustMock da Telerik
*.jmconfig

# Saída de construção do BizTalk
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# Resultados da análise da IU do OpenCover
Capa Aberta/

# Saída de execução local do Azure Stream Analytics
ASALocalRun/

# Log binário e estruturado do MSBuild
*.log binário

# Arquivo de configuração do depurador de GPU NVidia Nsight
*.nvuser

# Pasta de trabalho MFractors (ferramenta de produtividade Xamarin)
.mfrator/

# Histórico local para o Visual Studio
.história local/

# Arquivos de histórico do Visual Studio (VSHistory)
.vhistória/

# Banco de dados temporário de verificação de integridade do BeatPulse
banco de dados de verificação de saúde

# Pasta de backup para a ferramenta Package Reference Convert no Visual Studio 2017
Backup de migração/

# Pasta de trabalho Ionide (ferramentas multiplataforma F# VS Code)
.ionídeo/

# Fody - esquema XML gerado automaticamente
FodyWeavers.xsd

# Arquivos VS Code para quem trabalha com várias ferramentas
.vscode/*
!.vscode/configurações.json
!.vscode/tarefas.json
!.vscode/launch.json
!.vscode/extensões.json
*.espaço de trabalho de código

# Histórico local para o Visual Studio Code
.história/

# Arquivos do Windows Installer de saídas de compilação
*.táxi
*.msi
*.msix
*.msm
*.msp

# Piloto JetBrains
*.sln.iml

### Estúdio Visual ###

# Arquivos específicos do usuário

# Arquivos específicos do usuário (MonoDevelop/Xamarin Studio)

# Arquivos Mono gerados automaticamente

# Resultados da construção

# Diretório cache/options do Visual Studio 2015/2017
# Descomente se você tiver tarefas que criam os arquivos estáticos do projeto em wwwroot

# Arquivos gerados automaticamente pelo Visual Studio 2017

# Resultados do teste MSTest

# Unidade Numérica

# Construir resultados de um projeto ATL

# Resultados de referência

# .NET Núcleo

# Andaime ASP.NET

# EstiloPolicial

# Arquivos criados pelo Visual Studio

# Arquivos de teste Chutzpah

# Arquivos de cache do Visual C++

# Criador de perfil do Visual Studio

# Arquivos de rastreamento do Visual Studio

# Espaço de trabalho local do TFS 2012

# Kit de ferramentas de automação de orientação

# ReSharper é um complemento de codificação .NET

# TeamCity é um complemento de construção

# DotCover é uma ferramenta de cobertura de código

# AxoCover é uma ferramenta de cobertura de código

# Coverlet é uma ferramenta de cobertura de código multiplataforma gratuita

# Resultados da cobertura de código do Visual Studio

# NCrunch

#Alce Poderoso

# Bancada de trabalho da Web (sass)

# Pasta de saída do Installshield

# DocProject é um complemento gerador de documentação

# Diretório Click-Once

# Publicar saída da Web
# Nota: Comente a próxima linha se quiser verificar suas configurações de implantação na web,
# mas as strings de conexão do banco de dados (com senhas potenciais) não serão criptografadas

# Configurações de publicação do Microsoft Azure Web App. Comente a próxima linha se quiser
# verificar as configurações de publicação do seu aplicativo Web do Azure, mas informações confidenciais contidas
# nesses scripts não serão criptografados

# Pacotes NuGet
# Pacotes de símbolos NuGet
# A pasta de pacotes pode ser ignorada devido ao Package Restore
# exceto build/, que é usado como um alvo do MSBuild.
# Descomente se necessário, mas geralmente ele será regenerado quando necessário
# Os arquivos project.json do NuGet v3 produzem mais arquivos ignoráveis

# Saída de compilação do Microsoft Azure

# Emulador Microsoft Azure

# Diretórios e arquivos de pacotes de aplicativos da Windows Store

# Arquivos de cache do Visual Studio
# arquivos terminados em .cache podem ser ignorados
# mas mantenha o controle dos diretórios que terminam em .cache

# Outros

# Incluir arquivos de nomes fortes pode representar um risco de segurança
# (https://github.com/github/gitignore/pull/2483#issue-259490424)

# Como há vários fluxos de trabalho, descomente a próxima linha para ignorar bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)

# Projetos RIA/Silverlight

# Fazer backup e relatar arquivos da conversão de um arquivo de projeto antigo
# para uma versão mais recente do Visual Studio. Arquivos de backup não são necessários,
# porque temos o git ;-)

# Arquivos do SQL Server

# Projetos de Business Intelligence

# Microsoft Falsificações

# Arquivo de configuração do plugin GhostDoc

# Ferramentas Node.js para Visual Studio

# Log de compilação do Visual Studio 6

# Arquivo de opções do espaço de trabalho do Visual Studio 6

# Arquivo de espaço de trabalho gerado automaticamente pelo Visual Studio 6 (contém quais arquivos foram abertos, etc.)

# Arquivo de projeto gerado automaticamente pelo Visual Studio 6 (contém quais arquivos foram abertos, etc.)

# Espaço de trabalho do Visual Studio 6 e arquivo de projeto (arquivos de projeto de trabalho contendo arquivos para incluir no projeto)

# Arquivos técnicos do Visual Studio 6

# Saída de compilação do Visual Studio LightSwitch

# Gerenciador de dependências de pacotes

# FALSO - F# Fazer

# Configurações pessoais do CodeRush

# Ferramentas Python para Visual Studio (PTVS)

# Bolo - Descomente se você estiver usando
# ferramentas/**
# !tools/pacotes.config

# Estúdio de abas

# Arquivo de configuração JustMock da Telerik

# Saída de construção do BizTalk

# Resultados da análise da IU do OpenCover

# Saída de execução local do Azure Stream Analytics

# Log binário e estruturado do MSBuild

# Arquivo de configuração do depurador de GPU NVidia Nsight

# Pasta de trabalho MFractors (ferramenta de produtividade Xamarin)

# Histórico local para o Visual Studio

# Arquivos de histórico do Visual Studio (VSHistory)

# Banco de dados temporário de verificação de integridade do BeatPulse

# Pasta de backup para a ferramenta Package Reference Convert no Visual Studio 2017

# Pasta de trabalho Ionide (ferramentas multiplataforma F# VS Code)

# Fody - esquema XML gerado automaticamente

# Arquivos VS Code para quem trabalha com várias ferramentas

# Histórico local para o Visual Studio Code

# Arquivos do Windows Installer de saídas de compilação

# Piloto JetBrains

### Patch do VisualStudio ###
# Arquivos adicionais criados pelo Visual Studio

# Fim de https://www.toptal.com/developers/gitignore/api/visualstudio,csharp